*{
    margin: 0;
    padding: 0; 

}

body {
    background: #fff;
    color: #222;
    font-family: 'Dancing Script', cursive, 'Montserrat', sans-serif, 'Shantell Sans', cursive;
}

.wrapper {
    width: 80%;
    margin: 50px auto;

}

.logo {
    font-weight: 600;
    font-size: 20px;

}

ul.nav{
    float: right;
    list-style: none;
}

ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;

}

ul.nav li:hover {
    opacity: 0.5;
}


header .presentation {
    margin: 50px 0;
    background-color: #BE997E;
    width: 100%;
    height: 30vh;
    position: relative;
}

header .presentation::after {
    content: "";
    background-image: url('./img/banner.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 50px;
    width: 100%;
    height: 30vh;
    margin-left: 50%;
    
}


header .presentation::before {
    content: "The best of nature beauty";
    border-left: 2px solid #ff006e;
    position: absolute;
    padding: 1rem;
    margin-left: 100px;
    top: 50px;
    left: 0px;
    height: 100%;
    width: 200px;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #ff006e;
    color:#231510;

}


footer {
    text-align: center;
    margin-top: 100px;
}
